
#hdr{width: 1018px; padding: 10px 0px; background:#0099D1;color: white;border: 3px solid #C6C6C6;}
#top_bar{width: 1024px;padding: 2px 0px;background: #00CC99}
#menu_block{width: 1024px; padding-bottom: 59px}
#pic{width: 1024px; margin: auto;}
#middle_contents{width: 1024px;height:580px;margin: 0px auto;}
#ftr{width: 1024px;padding: 1px 0px; background:#0099D1;color: white ;}

.menu_home:hover{
    background:url(../images/til_yellow.gif) repeat-x;
    float:left;
    padding:20px 54px 20px 54px;
    font: bold 15px Trebuchet MS;
    color:#fff;
    text-decoration:none;
 }
.menu_home{
   background:url(../images/til_blue.gif) repeat-x;
   float:left;
   padding:20px 54px 20px 54px;
   font: bold 15px Trebuchet MS;
   color:#fff;
   text-decoration: none;
 }
.menu_tx:hover{
   background:url(../images/til_yellow.gif) repeat-x;
   float:left;
   padding: 20px 49px;
   margin-left:1px;
   font: bold 15px Trebuchet MS;
   color:#fff;
 }
.menu_tx{
  background:url(../images/til_blue.gif) repeat-x;
  float:left;
  padding:20px 49px;
  margin-left:1px;
  font: bold 15px Trebuchet MS;
  color:#fff;
  text-decoration:none;
}
form.loggedin_form{
     width: 30%;
     height: 100%;
     border: 3px solid #C6C6C6;
     background: #0099D1;
     float: left;
}

form.login_form{
     width: 30%;
     height: 100%;
     border: 3px solid #C6C6C6;
     background: #0099D1;
     float: left;
}
form.query_form{
 width: 38.829%;
 height: 100%;
 border-top:  3px solid #C6C6C6;
 border-bottom: 3px solid #C6C6C6;
 background: #0099D1;
 float: left;
 background-color:


}

form.sign_up_form{
     width: 1018px;
     margin: auto;
     border: 3px solid #C6C6C6;
     background: #0099D1;
}

form.user_info_form{
     width: 1018px;
     margin: auto;

     border: 3px solid #C6C6C6;
     background: #0099D1;
}
form.check_query_form{
     width: 1018px;
     margin: auto;

     border: 3px solid #C6C6C6;
     background: #0099D1;
}

form.select_seat_form{
     width: 1018px;
     margin: auto;
     border: 3px solid #C6C6C6;
     background: #0099D1;
}
.news_block{
  width: 30%;
  height: 100%;
  border: 3px solid #C6C6C6;
  background: #0099D1;
  float: left;
}
.full_news_block{
  width: 1018px;
  border: 3px solid #C6C6C6;
  margin: 0px auto;
  background: #0099D1;

}


.h2{

   color:#fff ;
   font:17px/15px trebuchet MS;
   float:left;
   text-align: center;
   padding: 10px 10px;

}
.h3{
  width: 998px;
background-color: ;
    color:#fff ;
    text-align: center;
   font:25px/15px trebuchet MS;
   padding: 30px 0px 0px 0px;

}

span.h3{color:#fff ;
   font:17px/15px trebuchet MS;
   float:left;
   padding:  150px 75px 0px 80px;

}
.h4{
   color: #4dff4d ;
   font:17px/15px trebuchet MS;

}


.sign_up_form input[type=text], .sign_up_form input[type=password],.sign_up_form input[type=tel] {

    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background: #F1F1F1;

}
.sign_up_form button{

  margin-left:auto;
}

input[type=text], input[type=password], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background: #F1F1F1;

}

button {
    background-color: #4CAF50;
    color: white;
    margin: 1px;
    border: none;
    width: 100%;
    height: 50px;
}

button:hover {
  background-color:#F5C914;

}
button:active {

  border: 2px solid green;

}


.signupbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.loggedin_form button {
  margin-left: 75px;
    width: 50%;
    background-color: #f44336;
}
.imgcontainer
{
    text-align: center;
    margin: 14px 0 12px 0;
    float: left;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 40px 16px 16px 16px ;

}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .signupbtn {
       width: 100%;
    }
}


.nws{
  color:#fff;
  font:17px/15px trebuchet MS;
  float:left;
  padding: 10px 10px}




.dat{

  margin: 20px 10px 10px 10px;
  padding-top: 10px;
  font:12px/16px Arial;

}

.news_block button{

    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0 20px  ;
    width: auto;
}


.q_container {
    padding: 80px 16px 16px 16px;
}

select {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background: #F1F1F1;
}
.query_form button
{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 14px 0px;
  border: none;
  cursor:pointer;
  width: 40%;

}

.sizer{

width:50%;
padding: 30px 0px;
margin: 0px auto;

}
.centerizer{

  margin: 150px 0px;


}
.user_info_form button
{

  color: white;
  padding: 10px 20px;

  margin: 20px 5px 0px 5px;
  width: 35%;

}
.info{

  margin: 10px 0px;
  text-align: center;
}
.sub_block{
  width: 1018px;
  height:680px;
  background-color: #0099D1;
  margin: 0px auto;
  border: 3px solid #C6C6C6;
}
.sub_block form{
  height: auto;
  margin: 0px 350px;
}
table {

  margin: 100px auto;
  border: 2px solid  #67A143;
  background-color:#67A143;
}
td {
background-color: #EFF5EA;

  padding: 5px 5px 5px 5px;
}
th{
padding-left: 5px;
text-align: left;
background-color: #EFF5EA;
}

.top{
  background-color: #67A143;
  color: white;
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
}
.purchase_ticket{
background-color: #0099D1;
width: 1018px;
margin: 0px auto;
border: 3px solid #C6C6C6;
}
.select_seat{
  width: 70%;
  margin: 20px auto ;

}
.select_seat table,tr,td{
  margin: 10px auto;
  background-color: white;
  padding: 1px;

}

.selecting_div{
  width: 20%;
  margin: 0px auto;

}
